<div class="d-flex align-items-center flex-column ">
    <div >
        <h1 >Sponsors</h1>
        <div class="highlight">
        </div>
    </div>
   
</div>


<h2 class="my-5">Gold Sponsors</h2>
<div class="container row mx-auto my-5 justify-content-center">
    <div class="sponsor-card col-lg-3 col-5 mx-1 col-md-4 my-4 ">
        <a href="https://www.mindgate.in/" target="_blank"><img src="/assets/mindgate.png" class="h-100 "></a>
    </div>
    <div class="sponsor-card col-lg-3 col-5 mx-1 col-md-4 my-4 pt-4">
        <a href="https://www.mahindra.com/" target="_blank"><img src="/assets/mahindra.png" class="h-100 " /></a>
    </div>
    <div class="sponsor-card col-lg-3 col-5 mx-1 col-md-4 my-4">
        <a href="https://www.cns-inc.com/" target="_blank"><img src="/assets/cnsi.svg" class="h-100" /></a>
    </div>
   
        <div class="sponsor-card col-lg-3 col-5 mx-1 col-md-4 my-4 ">
            <a href="https://www.prepbytes.com/" target="_blank"><img src="/assets/prepbytes.png" class="h-100 "></a>
        </div>
    
</div>
<h2>
    Silver Sponsors
</h2>
<div class="container row mx-auto my-5 justify-content-center">
    <div class="sponsor-card col-5 col-lg-3 mx-1 my-4">
        <a href="https://www.bimtech.ac.in/" target="_blank"><img src="/assets/birla.png" class="h-100" /></a>
    </div>
    <div class="sponsor-card col-5 col-lg-3 mx-1 my-4">
        <a href="https://www.echoar.xyz/" target="_blank"><img src="/assets/echoAR.svg" class="h-100" /></a>
    </div>
</div>
<div class="row container mx-auto">
 
<div class="col-12 col-lg-6 col-md-6 col-sm-6 d-flex flex-column justify-content-between">
<h2>
    Bronze Sponsor
</h2>
<div class="container row mx-auto mx-auto my-5 justify-content-center">

    <div class="sponsor-card col-10 col-lg-6 mx-1  my-4">
        <a href="https://github.com/" target="_blank"><img src="/assets/github.png" class="h-100" /></a>
    </div>

</div>
</div>
<div class="col-12 col-lg-6 col-md-6 col-sm-6 d-flex flex-column justify-content-between">
    <h2>
        Media Partner
    </h2>
    <div class="container-fluid row mx-0 mx-auto my-5 justify-content-center">
        <div class="sponsor-card col-10 col-lg-6 mx-1 my-4">
            <a href="https://www.vitrendz.tech/" target="_blank">  <img src="/assets/trendz.png" class="h-100" /></a>
        </div>
    </div>

</div>
</div>
<div class="row container mx-auto">
   
    <div class="col-12 col-lg-6 col-md-6 col-sm-6 d-flex flex-column justify-content-between">
        <h2>
            Streaming Partner
        </h2>
        <div class="container-fluid row mx-0 mx-auto my-5 justify-content-center">
            <div class="sponsor-card col-10 col-lg-6 mx-1 my-4">
                <a href="https://streamyard.com/" target="_blank">  <img src="/assets/streamyard.png" class="h-100" /></a>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6 col-md-6 col-sm-6 d-flex flex-column justify-content-between">
        <h2>
            Certificate Partner
        </h2>
        <div class="container-fluid row mx-0 mx-auto my-5 justify-content-center">

            <div class="sponsor-card col-10 col-lg-6 mx-1   my-4">
                <a href="https://www.givemycertificate.com/" target="_blank"> <img src="/assets/gmc.png" class="h-100" /></a>
            </div>

        </div>
    </div>
</div>
<h2>
    Education Partners
</h2>
<div class="container row mx-auto my-5 justify-content-center">

    <div class="sponsor-card col-lg-3 col-5 mx-1 col-md-4 my-4">
        <a href="https://www.geeksforgeeks.org/" target="_blank">  <img src="/assets/gfg.svg" class="h-100" /></a>
    </div>
    <div class="sponsor-card col-lg-3 col-5 mx-1 col-md-4 my-4">
        <a href="https://progate.com/" target="_blank" class="w-100">
            <img src="/assets/progate.svg" class="h-100" /> 
        </a>  
    </div>
    <div class="sponsor-card col-lg-3 col-5 mx-1 col-md-4 my-4">
        <a href="https://codingblocks.com/" target="_blank">  <img src="/assets/coding-blocks.png" class="h-100" /> </a>
    </div>
</div>


<h2>
    Patreons
</h2>
<div class="container row mx-auto my-5 justify-content-center">

    <div class="sponsor-card col-lg-3 col-5 mx-1 col-md-4 my-4">
        <a href="https://www.axure.com/" target="_blank"> <img src="/assets/axure.svg" class="h-100" /> </a>
    </div>
    <div class="sponsor-card col-lg-3 col-5 mx-1 col-md-4 my-4">
        <a href="https://www.framer.com/" target="_blank"> <img src="/assets/framer.png" class="h-100" /></a>
    </div>
    <div class="sponsor-card col-lg-3 col-5 mx-1 col-md-4 my-4">
        <a href="https://www.sashido.io/en/" target="_blank"> <img src="/assets/sashido.png" class="h-100" /> </a>
    </div>
    <div class="sponsor-card col-lg-3 col-5 mx-1 col-md-4 my-4">
        <a href="https://www.linode.com/" target="_blank">  <img src="/assets/linode.svg" class="h-100" /></a>
    </div>
    <div class="sponsor-card col-lg-3 col-5 mx-1 col-md-4 my-4">
        <a href="https://balsamiq.com/" target="_blank">   <img src="/assets/balsamiq.svg" class="h-100" /></a>
    </div>
    <div class="sponsor-card col-lg-3 col-5 mx-1 col-md-4 my-4">
        <a href="https://www.wolfram.com/" target="_blank">   <img src="/assets/wolfram.svg" class="h-100" /></a>
    </div>
    <div class="sponsor-card col-lg-3 col-5 mx-1 col-md-4 my-4">
        <a href="https://www.rosenfieldandco.com/" target="_blank">   <img src="/assets/rosenfeld.svg" class="h-100" /></a>
    </div>
    <div class="sponsor-card col-lg-3 col-5 mx-1 col-md-4 my-4">
        <a href="https://1password.com/" target="_blank"> <img src="/assets/ipassword.png" class="h-100" /></a>
    </div>
   

   
</div>

<h2>
    Community Partners
</h2>
<div class="container row mx-auto my-5 justify-content-center">
    <div class="sponsor-card col-lg-3 col-5 mx-1 col-md-4 my-4">
        <a href="https://hackon.tech/" target="_blank"> <img src="/assets/hackon.png" class="h-100" /></a>
    </div>
    <div class="sponsor-card col-lg-3 col-5 mx-1 col-md-4 my-4">
        <a href="http://www.codeasylums.com/" target="_blank"> <img src="/assets/code-asylum.png" class="h-100" /> </a>
    </div>
  
   
    <div class="col-12 d-flex justify-content-center">Want to sponsor us? <a href="./assets/HorizonBrochure.pdf"><span style="color:#fd7614;">Download our brochure!</span></a></div>
</div>



