
<div class="container mx-auto row" >
    <div class="col-lg-6 col-12 col-sm-10 col-md-8 d-flex container" style="overflow: hidden;">
        <img src="/assets/photonix-woman.webp" data-depth="0.1" id="photonix-woman" alt="">
        <img src="/assets/crosshair.svg" data-depth="0.9" id="crosshair" alt="">
    </div>
    <div class="col-lg-6 container my-auto ">
        <h1>Photo<span style="color:#F51BF8">nix</span></h1>
        <div class="event-name-highlight ">
        </div>
        <p > Photonix is a hands on workshop, made for the artist in you. Traverse the world of poster and UI
            design and learn to create the most stunning visuals and imagery using Adobe Photoshop and Illustrator. A
            workshop to explore your creativity and convert ideas and design to life!</p>

            <p><b>Date : 6<sup>th</sup> & 7<sup>th</sup> April 2021</b></p>
            <div class="d-flex w-100 text-left cta-buttons">
                <div class="col-4 col-md-3">
                        <a href="./photonix"  target="_blank">Register</a>
                </div>
                <!-- <div class="col-6 col-md-4">
                    <a href="tel:+919587656086">
                    <div>
                        ENQUIRE ⟶
                    </div>
                </a> -->
                </div>
            </div>
    </div>
</div>
