<div class="container col-12 col-lg-6 content" style="overflow:hidden">
    <h1>Code <span style="color:#e37fee">Asymptote</span></h1>
    <div class="event-name-highlight"></div>
    <p>
        Code asymptote is a hands on workshop, where you step into the world of data structures. Learn all about queues, linked list and discover various DSA algorithms. Understand how they are implemented, know how to apply them. Learn, understand, implement, all from scratch!
    </p>
    <p><b>Date : 20<sup>th</sup> March 2021</b></p>
    <div class="d-flex w-100 text-left cta-buttons">
        <div class="col-4 col-lg-3">
           
                <a
                    href="./codeasymptote" target="_blank">
                    Register
                </a>
           
        </div>
        <!-- <div class="col-6 col-md-3">
            <a href="tel:+918420135689">
            <div>
                ENQUIRE ⟶
            </div>
            </a>
        </div> -->
    </div>
</div>