<div class="content container mt-5 pt-5">
    <div class="row">
        <div class="col-lg-6">
            <a href="">
                <h1>About Us</h1>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <a href="">
                <h1>
                        Events
                </h1>
            </a>
        </div>
        <div class="col-lg-6">
            <h2>WebDev</h2>
            <h2>Automate.py</h2>
            <h2>Photonix</h2>
            <h2>Code Asymptote</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <a href="">
                <h1>Speakers</h1>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <a href="">
                <h1>Sponsors</h1>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <a href="">
                <h1>
                    Team
                </h1>
            </a>
        </div>
        <div class="col-lg-6">
            <h2 class="d-flex align-items-center">
                <a href="">
                    <span>Technica</span><img src="/assets/external-link-icon.svg" class="ml-2" alt="">
                </a>
            </h2>
            <h2 class="d-flex align-items-center">
                <a href="">
                    <span>ISTE-VIT</span><img src="/assets/external-link-icon.svg" class="ml-2" alt="">
                </a>
            </h2>
        </div>
    </div>
</div>