<div class="row container mx-0 justify-content-around">
    <div class="col-lg-6">
        <h1>
            About <span style="color: #02c5e7;">Us</span>
        </h1>
        <div class="event-name-highlight">
        </div>
        <p>
            ISTE-VIT presents to you Horizon'21 - a national technical fest with over 1400 participants for a learning
            experience like none other. Expand your skill set with workshops on Web development, Photo and Video design,
            Python Automation and Competitive Coding. Initiate new ideas , put forth innovative solutions and compete
            with sharpest of minds in one a kind hackathon - Technica.
        </p>
    </div>
    <div class="col-lg-6 d-flex align-items-stretch justify-content-center">
        <video autoplay muted controls loop style="
        object-fit: contain;
        align-self: center;
        ">
            <source
                src="https://firebasestorage.googleapis.com/v0/b/technica-2021.appspot.com/o/aboutiste.mp4?alt=media">
        </video>
    </div>
</div>