<div class="d-flex align-items-center flex-column ">
    <div >
        <h1 >Speakers & Judges</h1>
        <div class="event-name-highlight">
        </div>
    </div>
   
</div>
<div class="container row mx-auto mt-5 justify-content-center">
    
    <% const speakers = [
  
   
    {
        name: "rajat",
        linkedin : "https://www.linkedin.com/in/rajatjain-21/"
    },
    {
        name: "pratyush",
        linkedin : "https://www.linkedin.com/in/pratsy/"
    },
    {
        name: "kaushik",
        linkedin : "https://www.linkedin.com/in/knrkaushik/"
    },
    {
        name: "saraswathy",
        linkedin : "https://www.linkedin.com/in/saraswathy-ramamoorthy-33923025/"
    },
    {
        name: "vaibhavg",
        linkedin : "https://www.linkedin.com/in/vaigu/"
    },
    {
        name: "suman",
        linkedin : "https://www.linkedin.com/in/suman-d/"
    },
    {
        name: "mamta",
        linkedin : "https://www.linkedin.com/in/mamta-kumari-6a9579114/"
    },
    {
        name: "vinodh",
        linkedin : "https://www.linkedin.com/in/vinodh-kumar-sunkara-ba594918/"
    },
    {
        name: "ajay",
        linkedin : "https://www.linkedin.com/in/ajaymittal83/"
    },

    {
        name: "jayant",
        linkedin : "https://www.linkedin.com/in/jayant-sharma-a09447126/"
    },
    {
        name : "vijeta",
        linkedin : "https://www.linkedin.com/in/vijetapai90/"
    },{
        name: "rahul",
        linkedin : "https://www.linkedin.com/in/rpandey1234"
    },
  
    {
        name : "vaibhav",
        linkedin : "https://www.linkedin.com/in/vaibhavchopra2001/"
    },{
        name : "abeer",
        linkedin : "https://www.linkedin.com/in/abeer-aftab-00274719a/"
    },{
        name: "hardhik",
        linkedin : "https://www.linkedin.com/in/hardhik-pvv-7152521a6/"
    },{
        name: "lakshit",
        linkedin : "https://www.linkedin.com/in/lakshit-kothari-6569531a1/"
    }] %>
    
    <% speakers.forEach(speaker=>{ %>
        <a class="col-lg-3 col-md-4 col-12 my-4 speaker-container d-flex flex-column" href="<%=speaker.linkedin%>" target="_blank">
            <img src="/assets/<%=speaker.name%>-speaker.png" class="speaker"/>
            <!-- <div class="linkedin-container"> -->
                <!-- <a href="<%=speaker.linkedin%>" target="_blank"> -->
                <!-- <img src="/assets/linkedin.svg"></a> -->
            <!-- </div> -->
        </a>
    <% }) %>
    
    
</div>
