<div class="container row">
    <div class=" col-lg-6 col-12 col-sm-10 col-md-8 container">
        <img src="/assets/web-dev.svg" class="web-dev-image w-100" alt="">
    </div>
    <div class="col-lg-6 container ">
        <h1>
            Web<span style="color : #F51BF8">Dev</span>
        </h1>
        <div class="event-name-highlight"> </div>
        <p>
            Web Dev is a hands-on workshop in Horizon, where you learn all about building websites and managing
            databases. Equip yourself with cutting edge web development tools, all through real-time teaching and
            interesting exercises. Take home a unique web development project, all done by you!
        </p>
        <p><b>Date : 9<sup>th</sup> April 2021</b></p>
        <div class="d-flex w-100 text-left cta-buttons">
            <div class="col-4 col-md-3">
                
                    <!-- <a class="typeform-share button"
                        href="https://form.typeform.com/to/Re1AYvD8?typeform-medium=embed-snippet" data-mode="popup"data-hide-headers="true"  
                        data-size="100" target="_blank">
                        Register
                    </a> -->
                    <a href="./webdev" target="_blank">Register</a>
                
            </div>
            <!-- <div class="col-6 col-md-4">
                <a href="tel:+918079053733">
                    <div>
                        ENQUIRE ⟶
                    </div>
                </a>
            </div> -->
        </div>
    </div>
</div>
