<div class="row container mx-auto">
    <div class="col-12 col-lg-6 col-sm-6  d-flex container">
        <img src="/assets/trophy.svg" class="w-100" alt="">
    </div>
    <div class="col-12 col-lg-6 container my-auto">
        <h1>TECH<span style="color:#27A5EF">NICA</span></h1>
        <h2>Initiate | <span style="color:#27A5EF">Innovate </span>| Inspire</h2>
        <p>
            Technica is a 48-hour Hack-a-Thon conducted by ISTE-VIT. The hack is aimed at cultivating a technical temper
            among the student community and promoting healthy competition among peers. It is a one of a kind opportunity
            for participants to develop their technical skills and develop innovative and exciting solutions to real
            world problems!
        </p>
        <!-- <p><b>Date : 9<sup>th</sup>, 10<sup>th</sup> & 11<sup>th</sup> April 2021</b></p> -->
        <div class="cta-buttons d-flex w-100 text-left">
            <div>
                <div>
                    <div>
                        <a href="/technica">
                            Explore Now ⟶
                        </a>
                    </div>
                </div>
            </div>
        </div>
</div>